body
    margin: 0
    font-family: 'Inter'
    background: #E7F6FF
    
.wrapper
    max-width: 1080px
    background #ffff
    margin: 50px auto 
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.04)
    border-radius: 20px
header
    padding: 50px
    border-bottom: 1px solid #eaeaea;
main
    padding: 50px
    h1
        margin: 0   
.header-navigate__item
    img
        margin-right: 16px
.header-navigate__item__text
    h3
        margin: 0
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        color: #000;
    p
        margin: 0
        font-weight: 400;
        font-size: 14px;
        color: #9d9d9d;
.header-navigate__item
    ul
        li 
            margin-right 30px
            img
                margin-right 10px
                
main
    .showcase
        &__title
            font-weight: 700
            ont-size: 32px
            olor: #000
            margin-bottom: 40px
        &-wraper
            display: grid
            grid-template-columns: repeat(4,210px)
            gap 40px
            &-item
                position relative
                border: 1px solid #f3f3f3;
                border-radius: 40px;
                padding: 20px
                width: 210px;
                &__title
                    font-weight: 400;
                    font-size: 14px;
                    color: #000;
                    margin-bottom 14px
                &__suptitle
                    font-weight: 500;
                    font-size: 11px;
                    text-transform: uppercase;
                    color: #bdbdbd;
                    display block
                &__price
                    font-weight: 700;
                    font-size: 14px;
                    color: #000;
                .showcase-wraper__btn
                    position: absolute
                    bottom: 21px
                    right: 29px
                    display block
                    border: 1px solid #f2f2f2
                    border-radius: 8px  
                    background #fff  
                    height 32px 
                    width 32px
                    cursor pointer
                    