body
    margin: 0
    background: #E7F6FF
    
*
    font-family: 'Inter'
.wrapper
    max-width: 1080px
    background #ffff
    margin: 50px auto 
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.04)
    border-radius: 20px
    
.wrapper-overlye
    position: absolute
    left: 0
    top: 0
    width 100%
    height 100%
    background-color: rgba(0,0,0,0.5)
    z-index 1
.wrapper-aside
    position absolute
    right: 0
    height 100%
    box-shadow: -10px 4px 24px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    width 420px
    padding: 30px
    display: flex;
    flex-direction: column;
    &-title
        font-size 24px
        color: #000
        font-weight: 700;
        margin 0 0 30px 0
.aside-top
    flex: 1
    overflow: auto
    margin-bottom: 55px
.aside-cartItem
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    padding 20px
    margin-bottom: 20px 
    &__img
        background-position: 0 -7px
    &__icon
        margin-bottom: -37px
        opacity: 0.5
        transition: opacity 0.2s ease-in-out
        cursor pointer
        &:hover
            opacity 1
    &-text
        margin: 0 12px 0px  21px  
        &__title
            font-weight: 400;
            font-size: 14px;
            color: #000;
            margin 0 0 8px   0
        &__price
            font-weight: 700;
            font-size: 14px;
            color: #000;
.aside-bottom
    width 100%
    max-width 360px
    ul
        li 
            display: flex
            justify-content: space-between
            position relative
            align-items: flex-end;
            margin-bottom: 19px
            span
                display: block
                white-space: nowrap
                &:first-child
                    font-weight: 400;
                    font-size: 16px;
                    color: #000;
                &:last-child
                    display: block
                    font-weight: 600;
                    font-size: 16px;
                    color: #000;
            .aside-bottom__dashed   
                bottom: 2px
                width: 100%
                height 1px
                border-bottom: 1px dashed #dfdfdf;
                position relative
                top: -4px
                margin: 0 9px   
    .aside-bottom___btn
        background: #9dd458;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #fff;
        border: none
        padding: 18px 0px
        width 100%
        border-radius: 18px;
        background-repeat: no-repeat
        background-size: center
        background-position: calc(50% + 125px) center;
        transition: background 0.2s ease-in-out
        cursor: pointer
        &:hover
            background: lighten(#9dd458, 10%)
            background-repeat: no-repeat
            background-size: center
            background-position: calc(50% + 125px) center;
        &:active
            background: darken(#9dd458, 5%)
            background-repeat: no-repeat
            background-size: center
            background-position: calc(50% + 125px) center;
header
    padding: 50px
    border-bottom: 1px solid #eaeaea;
main
    padding: 50px
    h1
        margin: 0   
.header-navigate__item
    img
        margin-right: 16px
.header-navigate__item__text
    h3
        margin: 0
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        color: #000;
    p
        margin: 0
        font-weight: 400;
        font-size: 14px;
        color: #9d9d9d;
.header-navigate__item
    ul
        li 
            margin-right 30px
            img
                margin-right 10px
                
main
    .showcase
        &-top
            display: flex
            margin-bottom: 40px
            align-items: center
            justify-content: space-between
            &__title
                font-weight: 700
                ont-size: 32px
                olor: #000
            &__search
                border: 1px solid #f3f3f3;
                border-radius: 10px;
                padding: 0 15px 
                display flex
                align-items: center
                input
                    padding: 13px
                    border:0
                    font-weight: 400;
                    font-size: 14px;
                    width 200px
                    &:placeholder
                        color: #c4c4c4; 
        &-wraper
            display: grid
            grid-template-columns: repeat(4,210px)
            gap 45px
            &-item
                position relative
                border: 1px solid #f3f3f3;
                border-radius: 40px;
                padding: 20px
                width: 210px;
                transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out
                &:hover
                    transform: translateY(-5px);
                    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.06);
                &__title
                    font-weight: 400;
                    font-size: 14px;
                    color: #000;
                    margin-bottom 14px
                &-favorite
                    position: absolute
                    cursor: pointer
                &__suptitle
                    font-weight: 500;
                    font-size: 11px;
                    text-transform: uppercase;
                    color: #bdbdbd;
                    display block
                &__price
                    font-weight: 700;
                    font-size: 14px;
                    color: #000;
                .showcase-wraper__btn
                    position: absolute
                    bottom: 21px
                    right: 29px
                    display block
                    border: 1px solid #f2f2f2
                    border-radius: 8px  
                    background #fff  
                    height 32px 
                    width 32px
                    cursor pointer
